<div class="starting-page-container">
    <div class="starting-page-header">
        Welcome to BPMN Miner
    </div>
    <div class="starting-page-description">
        <span>
            • Upload your traces in order to discover the BPMN model for the process
        </span>
        <span>
            • The miner accepts the data either in a csv or xes file format
        </span>
        <span>
            • The csv files can be previewed in order to adjust the column header names
        </span>
        <span>
            • The generated image of the model can be downloaded later on
        </span>
    </div>
    <div class="starting-page-button-container">
        <button class="starting-page-button" (click)="nextStep()" mat-raised-button color="primary">
            START
        </button>
    </div>

</div>