<div class="viewer-container">
    <div class="viewer-container__header">
        View the generated BPMN model
    </div>
    <div class="viewer-container__description">
       Input the value below in order to filter the model
    </div>
    <div class="viewer-container__filtering-wrapper">
        <mat-form-field class="input">
            <mat-label>Event threshold</mat-label>
            <input matInput [(ngModel)]="eventThreshold">
        </mat-form-field>
        <button (click)="getBPMN()" class="button"  mat-raised-button color="primary">
            FILTER
        </button>
    </div>
    <div class="viewer-container__button-container">
        <button (click)="navigateHome()" class="button" mat-raised-button color="accent">
            HOME
        </button>
        <button (click)="downloadModel()" class="button"  mat-raised-button color="primary">
            DOWNLOAD
        </button>
    </div>
    <img class="viewer-container__image" [src]='imageUrl'/>
    <div class="viewer-container__footer-margin">
        
    </div>
</div>
